POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_ENDPOINT=http://minio:9000
ICEBERG_REST_URI=http://iceberg-rest:8181
KAFKA_STARTING_OFFSETS=earliest
SPARK_CHECKPOINT_LOCATION=s3a://lakehouse/checkpoints/multi_table_cdc

GENERATOR_SLEEP_SECONDS=2
SCHEMA_REGISTRY_URL=http://localhost:8081
